.wy-nav-top {
    background-color: #171A2F;
}

.wy-nav-side {
    background-color: #171A2F;
}

.wy-side-nav-search {
    background-color: initial;
}

.wy-side-nav-search input[type="text"] {
    border-color: transparent;
}

.rst-content div[role=navigation], footer {
   font-size: 0.85rem;
   color: #999;
}

.rst-content div[role=navigation] hr {
    margin-top: 6px;
}

.rst-content .interim-class > dt {
    display: none !important;
}

.rst-content .interim-class > dd {
    margin: 0;
}

.versionmodified {
    color: #a40000;
}

footer hr {
    margin-bottom: 6px;
}

.local-toc {
    display: none;
}

@media screen and (min-width: 1400px) {

    .wy-body-for-nav {
        background: #efefef;
    }

    .wy-grid-for-nav {
        width: auto;
    }

    .wy-nav-content-wrap {
        max-width: 800px;
        background: transparent;
    }

    .wy-nav-content {
        width: 800px;
    }

    .local-toc {
        display: block;
        position: fixed;
        left: 1100px;
        top: 0;
        bottom: 0;
        padding: 12px 0 0;
        width: 300px;
        overflow-y: scroll;
        background-color: #d6d6d6;
        overflow-x: hidden;
    }

    .local-toc li {
        font-size: .9em;
        line-height: 18px;
        padding: .4045em 1.618em;
    }

    .local-toc a {
        display: block;
        color: #404040;
        line-height: 18px;
    }

    .local-toc code {
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        padding: 0;
    }

}

nav a.external.reference::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(217,217,217)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    margin-left: .25em;
    display: inline-block;
    height: .6em;
    width: .6em;
    background-size: contain;
}
