Welcome to GNOME Python API documentation
==================================================

Also known as: `PyGObject <https://pygobject.readthedocs.io/en/latest/>`_ API docs.

This site contains documentation for the latest release of the GNOME libraries: GTK 4, LibAdwaita, etc.

The documentation is generated from the actual API, as exposed by PyGObject.

.. note::

   The documentation is derived from the official C-based API's. Things such as code examples
   are not translated to Python. In general that should not be a problem, since the mapping from
   C to Python is pretty straightforward.

If you find an inconsistency in the API docs, please `create an issue <https://gitlab.gnome.org/amolenaar/pygobject-docs/-/issues>`_.

.. toctree::
   :maxdepth: 1
   :caption: References

   PyGObject Docs <https://pygobject.gnome.org/>
   GNOME Developer Documentation <https://developer.gnome.org/>

.. toctree::
   :maxdepth: 1
   :glob:
   :caption: Libraries

   */index
   pycairo <https://pycairo.readthedocs.io/>

* :ref:`genindex`
